

html {
  font-size: 18px;

}


.logo {
  display: flex;
  background-color: black;
  width: 100%;
  color: white;
  font-family: helvetica;
  font-size: 1rem;
  justify-content: center;
}

.logo img {
  padding: 0.5rem 0.66rem;
  height: 1.5rem;
}

.logo h2 {
  padding-left: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  font-size: 1rem;
}

.logoset {
  display: flex;
  max-width: 960px;
  width: 100%;
  justify-content: flex-start;
}



.media {
  display: flex;
  height: 25rem;
  width: 100%;
  background-image: url(../images/banner.jpeg);
  padding-top: 9rem;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.mediaset {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.media h2 {
  display: flex;
  background: black;
  font-family: helvetica;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  width: 20rem;
  padding-top: 2rem;
  padding-left: 3rem;
  justify-content: flex-start;

}


.media h1 {
  display: flex;
  background: black;
  font-family: helvetica;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  width: 20rem;
  padding-left: 3rem;
  padding-bottom: 2rem;
justify-content: flex-start;

}

nav {
  background-color: firebrick;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-family: helvetica;
  font-size: 1rem;
  color: white;
}

nav > ul {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

ul.small-nav {
  display: none;
  justify-content: center;
}

li {
  display: inline-flex;
}

.products {
  display: flex;
  padding-top: 3rem;
  justify-content: space-between;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.product-item {
  border: 4px solid black;
  width: 30%;
}

.product-image {
  width: 50%;
  height: 9rem;
  overflow: hidden;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 auto;
}

.product-item img {
  max-width: 100%;
  height: auto;
  display: block;

}

.product-item.glasses img {
  margin-top: 30%;
}

.product-item h2 {
  background-color: black;
  margin: 0 auto;
  color: white;
  padding: 0.5rem;
  font-family: helvetica;
  text-align: center;
}

.lohours {
  padding-top: 3rem;
  display: flex;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

.location {
  width: 30%;
}

.hours {
  width: 30%;
}

.location h2 {
  background-color: black;
  font-family: helvetica;
  color: white;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hours h2 {
  background-color: black;
  font-family: helvetica;
  color: white;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer {
  height: 5rem;
  background-color: black;
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

.footermagic {
  color: white;
  font-family: helvetica;
  max-width: 960px;
  width: 100%;
  text-align: left;
  margin: 0 auto;
}

@media only screen and ( max-width : 1024px) {

  ul.small-nav {
    display: flex;
  }
  ul.desktop-nav {
    display: none;
  }

  .product-item {
    border: 4px solid black;
    width: 47%;
  }
  .product-item.glasses {
    display: none;
  }
  .location {
    width: 35%;
  }

  .hours {
    width: 35%;
  }

  .product-image {
    max-width: 40%;
  }

}

@media only screen and ( max-width : 480px) {
  .mediaset {
    width: 100%;
    padding-top: 10rem;
    padding-right: 2rem;
    height: 5rem;
  }

  .media h2 {
    padding-top: 1rem;
    font-family: helvetica;
    font-size: 0.77rem;
    font-weight: bold;
    padding-left: 2rem;
  }

  .media h1 {
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 2rem;
  }

  .product-item.watch {
    display: none;
  }

  .product-item {
    border: 4px solid black;
    width: 100%;
  }

  .lohours {
    padding-top: 3rem;
    display: flex;

    width: 100%;
    margin: 0 auto;
    flex-direction: column

  }

  .location {
    width: 90%;
    padding-bottom: 0.5rem;
    margin: 0 auto;
  }

  .hours {
    width: 90%;
    padding-bottom: 0.5rem;
    margin: 0 auto;
  }

  .location h2 {
    background-color: black;
    font-family: helvetica;
    color: white;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .hours h2 {
    background-color: black;
    font-family: helvetica;
    color: white;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .footermagic {
    color: white;
    font-family: helvetica;
    max-width: 960px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

}
