

html {
  font-size: 18px;

}


.logo {
  display: flex;
  background-color: black;
  width: 100%;
  color: white;
  font-family: helvetica;
  font-size: 1rem;
  justify-content: center;
}

.logo img {
  padding: 0.5rem 0.66rem;
  height: 1.5rem;
}

.logo h2 {
  padding-left: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  font-size: 1rem;
}

.logoset {
  display: flex;
  width: 960px;
  justify-content: flex-start;
}



.media {
  display: flex;
  height: 25rem;
  width: 100%;
  background-image: url(../images/banner.jpeg);
  padding-top: 9rem;

}

.mediaset {
  width: 960px;
  margin: 0 auto;
}

.media h2 {
  display: flex;
  background: black;
  font-family: helvetica;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  width: 20rem;
  padding-top: 2rem;
  padding-left: 3rem;
  justify-content: flex-start;

}


.media h1 {
  display: flex;
  background: black;
  font-family: helvetica;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  width: 20rem;
  padding-left: 3rem;
  padding-bottom: 2rem;
justify-content: flex-start;

}

nav {
  display: flex;
  justify-content: space-around;
  background-color: firebrick;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-family: helvetica;
  font-size: 1rem;
  color: white;
}

li {
  display: inline-flex;
  justify-content: space-around;
}

.products {
  display: flex;
  padding-top: 3rem;
justify-content: space-around;
  width: 100%;
  overflow: hidden;

}

.pen {
  border: 4px solid black;
  width: 30%;

}

.watch {
  border: 4px solid black;
  width: 30%;

}

.glasses {
  border: 4px solid black;
  width: 30%;

}

.pen img {
  max-width: 100%;
  height: auto;
  display: block;
padding-top: 2rem;
}

.watch img {
  max-width: 100%;
  height: auto;
  display: block;
  padding-top: 2rem;

}


.glasses img {
  max-width: 100%;
  height: auto;
  display: block;
  padding-top: 2rem;

}
